<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>EnjoyFood</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/Stile-a-personale.css" type="text/css">
    <link rel="shortcurt icon" href="/images/LOGO_EF.png">

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>


<div class="container-fluid">
    <div class="row">
        <div class="col bg-success p-3 text-white">
            <img src="icon.png" id="ImmLogo">
            <div class="text-box">
                <h1><span class="auto-input"></span></h1>
                <p>L'app per prenotare il tuo pranzo comodamente dai tuoi dispositivi</p>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-expand-lg bg-light navbar-dim">
    <div class="con container-fluid">
        <a class="Home nav-link active" aria-current="page" href="/">Home</a>
        <a class="Menu nav-link active" aria-current="page" href="/Menu_salvati.html">Menu</a>
        <a class="Menu_salvati nav-link active" aria-current="page" href="/savedmenu">Menu Salvati</a>
        <a class="Componi nav-link active" aria-current="page" href="/compose">Ordina</a>

        <a class="profile btn" href="/account">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" >
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
            </svg>

        </a>
    </div>

</nav>

<div class="immagine">
    <img src="<%= account.profile_picture %>" id="imm">
</div>

<br>

<ol class="list-group" id="tabella1">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold"><h2>Informazioni Personali</h2></div>
        </div>
        <span class="badge bg-primary rounded-pill"></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Nome</div>
            <%= account.name %>
        </div>
        <span class="badge bg-primary rounded-pill"></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Cognome</div>
            <%= account.surname %>
        </div>
        <span class="badge bg-primary rounded-pill"></span>
    </li>
</ol>


<br>
<br>

<ol class="list-group" id="tabella2">

    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold"><h2>Storico Ordini</h2></div>
        </div>
        <span class="badge bg-primary rounded-pill"></span>
    </li>

    <% if(orders.length == 0) {%>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                Nessun ordine effettuato
            </div>
            <span class="badge bg-primary rounded-pill"></span>
        </li>
    <% } %>


    <% for(let i=0; i < orders.length; i++) { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">

            <div class="ms-2 me-auto">
                <div class="fw-bold"> ID: </div>
                <%= orders.at(i)._id %>
            </div>

            <div class="ms-2 me-auto">
                <div class="fw-bold">Mensa: </div> 
                <%= orders.at(i).target_seller %> 
            </div>

            <div class="ms-2 me-auto">
                <div class="fw-bold">Prezzo totale: </div>
                <%= orders.at(i).total_price + '€'%>
            </div>

            <div class="ms-2 me-auto">
                <div class="fw-bold">Stato: </div>
                <%= orders.at(i).status %>
            </div>

            <div class="ms-2 me-auto">
                <a class="btn md textColor" id="pulsante" href="<%= '/order/'+ encodeURIComponent(orders.at(i)._id) %>" >Visualizza</a>
            </div>

            <span class="badge bg-primary rounded-pill"></span>
        </li>
    <% } %>

</ol>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn md textColor" id="pulsante" href="/account/logout" >LogOut</a>
</div>


<div class="container-fluid" id="contatti">
    <div class="row">
        <div class="col bg-success p-3 text-white">
            <h5>Contatti:</h5>
            <h5 style="color: white">-Luca D'Anna</h5>
            <h5 style="color: white">-Antonio Criscuolo</h5>
            <h5 style="color: white">-Giovanni Belluomo</h5>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    var typed = new Typed(".auto-input",{
        strings: ["ENJOYFOOD"],
        typeSpeed: 120,
        backSpeed: 120,
        loop: true

    })
</script>

</body>
</html>
